version: '3.8'

services:
  mock-server:
    image: mockserver/mockserver:5.15.0
    container_name: mock-server
    hostname: mock-server
    command: -logLevel DEBUG
    ports:
      - "1080:1080"
    environment:
      MOCKSERVER_PROPERTY_FILE: /config/mockserver.properties
      MOCKSERVER_INITIALIZATION_JSON_PATH: /config/initializerJson.json
      MOCKSERVER_WATCH_INITIALIZATION_JSON: "true"
    volumes:
      - ./config:/config
    networks:
      - global-default
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:1080/mockserver/status"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

networks:
  global-default:
    external: true
